body {
    margin: 0;
    padding: 0;
}
.test {
    color: rgb(252, 252, 252);
    font-family: monospace;
    background: #888;
    margin: 0;
} 

p {
    margin: 0;
    padding: 0;
    display: inline;
}

.te {
    display: inline;
    gap: 10px;
}